@import url("https://fonts.googleapis.com/css2?family=Inika&family=Jost:wght@500&family=Martian+Mono:wght@100..800&family=Merriweather&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit&family=Poppins:wght@400;600&family=Roboto&display=swap");
body {
  font-family: "Martian Mono";
  background: #000000;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
}
.clock {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url(https://i.ibb.co/xM6FHxY/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  top: 20px;
}
.center {
  /* background-color: #000000; */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 41%;
  left: 45%;
  background-image: url(https://i.ibb.co/xM6FHxY/map.jpg);
  background-size: cover;
  z-index: 2;
}
p {
  margin-top: 70%;
  font-size: 0.8rem;
  color: #ffd700;
}
span {
  color: #ffd700;
  position: absolute;
  margin-top: 75%;
  font-size: 0.5rem;
  font-weight: bold;
  font-style: italic;
}
.navigation {
  width: 10px;
}
.hour-hand,
.minute-hand,
.seconds-hand {
  position: absolute;
  transform-origin: 50% 100%;
}
.hour-hand {
  width: 6px;
  height: 80px;
  background: linear-gradient(115deg, #ffd700, #000000);
  top: 20%;
  left: 51%;
  border-radius: 10px 10px 0 0;
}
.minute-hand {
  width: 5px;
  height: 110px;
  background: linear-gradient(115deg, #ffd700, #000000);
  top: 5%;
  left: 50%;
  border-radius: 10px 10px 0 0;
  z-index: 1;
  padding-bottom: 15px;
}
.second-hand {
  width: 5px;
  height: 100px;
  background: linear-gradient(115deg, #ffd700, #000000);
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
  border-radius: 50px 50px 0 0;
  padding-bottom: 60px;
}
.numerals {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #ffd700;
  font-weight: 600;
}
#numeral-I {
  top: 30px;
  left: 73%;
  transform: translateX(-50%);
}
#numeral-II {
  top: 80px;
  transform: translateX(-15%);
}
#numeral-III {
  top: 138px;
  transform: translateX(-10%);
}
#numeral-IV {
  top: 194px;
  transform: translateX(-10%);
}
#numeral-V {
  top: 220px;
  left: 25%;
  transform: translateY(105%);
}
#numeral-VI {
  top: 265px;
}

#numeral-VII {
  top: 241px;
  transform: translateX(-75%);
}
#numeral-VIII {
  top: 194px;
  transform: translateX(-88%);
}
#numeral-IX {
  top: 130px;
  left: 10%;
}
#numeral-X {
  top: 70px;
  transform: translateX(-88%);
}
#numeral-XI {
  top: 25px;
  left: 70%;
  transform: translateX(-90%);
}
